body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.first-section {
    display: flex;
    justify-content: space-between;
    background-color: #74c69d;
    align-items: center;
    width: 100%;
    padding: 30px 120px 90px;
}
.column-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 35%;
}
.group-image {
    height: 50%;
    width: 50%;
}
.partners-images {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    gap: 35px;
    height: 35px;
}
.second-section {
    display: flex;
    flex-direction: column;
    padding: 30px 120px 30px;
    text-align: center;
    gap: 80px;
    width: 100%;
    margin-top: 30px;
}
.column-left > h1 {
    font-size: 15px;
    
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffff;
}
.column-left > h2 {
    font-size: 35px;
    color: #ffff;
}
.column-left > p {
    font-size: 15px; 
    color: #fffb
}
.column-left > a {
    display: inline-block;
    font-size: 25px;
    width: 170px;
    text-align: center;
    color: #000c;
    background-color: #ffff;
    text-decoration: none;
    user-select: none;
    padding: 15px 50px;
    border-radius: 5px;
}
.column-left > a:hover {
    color: #74c69d;
}

.column-partners > h1 {
    color: #74c69d;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    
}
.column-partners > h2 {
    color: black;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 20px;
    
}
.column-partners > p {
    font-size: 25px;
}
.second-section > .learn-more {
    font-size: 25px;
    text-decoration: none;
    background-color: black;
    color: #fffc;
    user-select: none;
    width: 170px;
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin: 0 auto;  
}
@media (max-width: 440px) {
    .first-section {
        padding-right: 20px;
        padding-left: 20px;
    }
    .column-left {
        width: 100%;
        order: 2;
    }
    .column-left > h1 {
        font-size: 25px;
    }
    .column-left > h2 {
        font-size: 30px;
    }
    .group-image {
        width: 100%;
        margin-bottom: 30px;
    }
    .second-section {
        padding: 10px;
        gap: 20px;
    }
    .column-partners > h1 {
        font-size: 18px;
      }
    
    .column-partners > h2 {
        font-size: 28px;
      }
    
    .column-partners > p {
        font-size: 25px;
      }
    
    .partners-images {
        margin-top: 40px;
        flex-direction: column;
        gap: 40px;
      }
    
    .second-section > .learn-more {
        margin-top: 400px;
        margin-bottom: 20px;
        font-size: 25px;
        width: auto;
        padding: 15px 35px;
      }
}